div{
  /* placement */
  width: 50%;
  height: 400px;
  border: 200px solid black;
  /* styling */
  background-color:black;
}

a{
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover{
  background-color: red;
}

h1{
  /* placement */
  display: flex;
  text-align: center;
  /* styling */
}
h1 span{
  /* placement */
  /* styling */
  background-color: red;
  color:white;
}

body{
  /* placement */
  /* styling */
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}